
/* Style for a Working Group Editors' Draft */

@import "base.css";

body {
  /* background-image: url(https://semiceu.github.io/respec-style/logos/ED.svg); */
  background-color: transparent;
}

html {
  background-image: url(https://semiceu.github.io/respec-style/logos/ED-watermark.svg);
  background-color: transparent;
}
