
/* Style for an "Unofficial Draft" */

@import "base.css";

body {
  background-image: url(https://github.com/mobilityDCAT-AP/mobilityDCAT-AP/blob/gh-pages/respec/respec-style/logos/UD.svg);
  background-color: transparent;
}

html {
  background-image: url(https://github.com/mobilityDCAT-AP/mobilityDCAT-AP/blob/gh-pages/respec/respec-style/logos/UD-watermark.png);
}
